@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Edit Course Details for @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)
  @Html.Label("Course Name: ")
  @Html.TextBoxFor(model => model.Name)
  
 

  <input type="submit" value="Edit Course" class="btn btn-default">
}