@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Are you sure you want to cancel this course?</h2>

@Html.DisplayFor(model => model.Name)
@using(Html.BeginForm())
{
  <input type="submit" value="Destroy this course">
}
<p>@Html.ActionLink("Rethink your life and stop destroying our future.", "Index")</p>