@{
    Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Course;

<h3>Course Details</h3>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Students.Count == 0)
{
    <p>This course does not belong to any students. </p>
}
@foreach (var join in @Model.Students)
{
    <li>Name: @join.Student.Name</li>
}
</ul>

